{% extends 'Freelancers/base.html' %}
{% block main_content %}

{% if projects %}
    <div class="project-container">
    {% for project in projects %}
    <div class="card jumbotron">
        <h1 class="project-salary">{{project.salary}} Ft</h1>
        <h2>{{project.name}}</h2>
        <p class="lead">{{project.description}}</p>
        <hr class="my-4">
        <p class="description"><b>Skillek:</b> Java &bull; HTML &bull; CSS</p>
    </div>
    {% endfor %}
    </div>
{% else %}
    <h1>Még nincsenek projektek!</h1>
{% endif %}
{% endblock %}